<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1075697732405-3d2mgocbg0296dlmk59ql507h8jfl3df.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1075697732405-3d2mgocbg0296dlmk59ql507h8jfl3df</string>
	<key>API_KEY</key>
	<string>AIzaSyDOKG0iWJA0DTFFhkliIO3VLYbYKyshTmg</string>
	<key>GCM_SENDER_ID</key>
	<string>1075697732405</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.infintycodellc.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-app-ios13-42f28</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-app-ios13-42f28.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1075697732405:ios:7bc3bfc4c626e629705a7c</string>
</dict>
</plist>